# Terraform state
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Plan output files
*.tfplan

# Sensitive variable files
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
terraform.tfvars.json

# Terraform working directory
.terraform/

tfplan